.loaderWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .loaderWrap .propagateLoader {
    transition: opacity 250ms linear;
  }